In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('data/2019/JC-201901-citibike-tripdata.csv')
data2 = pd.read_csv('data/2019/JC-201902-citibike-tripdata.csv')
data3 = pd.read_csv('data/2019/JC-201903-citibike-tripdata.csv')
data4 = pd.read_csv('data/2019/JC-201904-citibike-tripdata.csv')
data5 = pd.read_csv('data/2019/JC-201905-citibike-tripdata.csv')
data6 = pd.read_csv('data/2019/JC-201906-citibike-tripdata.csv')
data7 = pd.read_csv('data/2019/JC-201907-citibike-tripdata.csv')
data8 = pd.read_csv('data/2019/JC-201908-citibike-tripdata.csv')
data9 = pd.read_csv('data/2019/JC-201909-citibike-tripdata.csv')
data10 = pd.read_csv('data/2019/JC-201910-citibike-tripdata.csv')
data11 = pd.read_csv('data/2019/JC-201911-citibike-tripdata.csv')
data12 = pd.read_csv('data/2019/JC-201912-citibike-tripdata.csv')

In [3]:
append1 = data1.append(data2)
append2 = append1.append(data3)
append3 = append2.append(data4)
append4 = append3.append(data5)
append5 = append4.append(data6)
append6 = append5.append(data7)
append7 = append6.append(data8)
append8 = append7.append(data9)
append9 = append8.append(data10)
append10 = append9.append(data11)
append11 = append10.append(data12)

In [4]:
append11['startdate'], append11['starttime'] = append11['starttime'].str.split(' ', 1).str
append11['stopdate'], append11['stoptime'] = append11['stoptime'].str.split(' ', 1).str

In [5]:
append11['gender'].replace(to_replace=[0], value='unknown', inplace=True)
append11['gender'].replace(to_replace=[1], value='male', inplace=True)
append11['gender'].replace(to_replace=[2], value='female', inplace=True)

In [6]:
append11 = append11.rename(columns = {'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time',
                                     'start station id': 'start_station_id', 'start station name': 'start_station_name',
                                     'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude',
                                     'end station id': 'end_station_id', 'end station name': 'end_station_name',
                                     'end station latitude': 'end_station_latitude', 'end station longitude': 'end_station_longitude',
                                     'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year',
                                     'startdate': 'start_date', 'stopdate': 'stop_date'})

In [7]:
append11 = append11[['trip_duration', 'start_date', 'start_time', 'stop_date', 'stop_time', 'start_station_id', 'start_station_name',
                    'start_station_latitude', 'start_station_longitude', 'end_station_id', 'end_station_name', 'end_station_latitude',
                     'end_station_longitude', 'bike_id', 'user_type', 'birth_year', 'gender']]

In [8]:
append11.head()

,trip_duration,start_date,start_time,stop_date,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,201,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male
1,505,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female
2,756,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male
3,1575,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,unknown
4,1566,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,unknown

In [9]:
append11.to_csv('data/citi_bike.csv')